body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.app-container {
  max-width: 600px;
  margin: auto;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.input-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.input-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  margin-left: 10px;
}

.text-input {
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}

.messages-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  /* overflow-y: hidden; */
}

.message-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  &.user {
    justify-content: end;
  }
}

.sender-image {
  border: 1px dashed;
  box-sizing: border-box;
  border-radius: 25px;
  width: 50px;
}

.message-text {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  max-width: 300px;
  word-break: break-all;
  text-align: justify;
}